/* font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */

/* :root {
    --first-web-color: #4D5AE5;
    --secondary-web-color: #2E2F42;
    --slate: #434455;

} */

:root {
  --background: #ffffff;
  --logo: #4d5ae5;
  --logo-studio: #2e2f42;
  --nav-bar: #2e2f42;
  --address: #434455;
  --background-hero: #2e2f42;
  --about-us-title: #2e2f42;
  --about-us-direction: #434455;
  --What-are-we-doing: #2e2f42;
  --our-team-title: #2e2f42;
  --our-team-name: #2e2f42;
  --our-team-direction: #434455;
  --footer-backgraund: #2e2f42;
  --logo-footer-web: #4d5ae5;
  --button-filter-color: #4d5ae5;
  --button-filter-backgraund: #f4f4fd;
  --title-card: #2e2f42;
  --direction-card: #434455;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-left: 156px;
  padding-right: 156px;
}

.nav-bar-menu {
  display: flex;
}

.header-block {
  display: flex;
  height: 72px;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}
.nav-bar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-bar:last-child {
  margin-right: 0px;
}

.logo-studio-web {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo);
  margin-right: 76px;
}

.logo-studio {
  color: var(--logo-studio);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.nav-bar-item {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--nav-bar);
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-bar-item:hover,
.nav-bar-item:focus {
  color: #404bbf;
}
.address-header {
  font-style: normal;
}
.address-header-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address);
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-list:last-child {
  margin-right: 0px;
}

.address-header-item:hover,
.address-header-item:focus {
  color: #404bbf;
}

ul,
ol {
  padding-left: 0;
}

/* Перша секція */

.hero-back {
  background: var(--background-hero);
  height: 600px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: 472px;
  margin-right: 472px;
  padding-top: 188px;
  text-align: center;
}

.button-hero {
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  margin-left: 636px;
  margin-top: 48px;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

/* Друга секція */

.about-us-section {
  height: 344px;
}

.about-us {
}

.about-us-item {
  padding-right: 24px;
}

.about-us-list {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-us-title {
  width: 264px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--about-us-title);
}

.about-us-direction {
  width: 264px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--about-us-direction);
}

/* Третя секція */
.what-are-we-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--What-are-we-doing);
  padding-bottom: 72px;
}
.what-are-we-doing-section {
}
.what-are-items {
  display: flex;
  padding-left: 156px;
  padding-right: 156px;
}

.what-are-item {
  padding-right: 24px;
}
.what-are-item:last-child {
  padding-right: 0;
}

/* Четверта секція */
.our-team-section {
  background: #f4f4fd;
  padding-left: 156px;
  padding-right: 156px;
  height: 732px;
  margin-top: 120px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--our-team-title);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 72px;
}

.our-team-items {
  display: flex;
}

.our-team-card {
  background: #ffffff;
  margin-right: 24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.our-team-card:last-child {
  margin-right: 0px;
}

.our-team-name {
  width: 134px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--our-team-name);
}

.our-team-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--our-team-direction);
}
/* Підвал */
.footer {
  background: var(--footer-backgraund);
  height: 312px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-web);
}

.footer-block {
  width: 264px;
  height: 112px;
  padding-top: 100px;
  margin-left: 156px;
}

.logo-footer-studio {
  color: #f4f4fd;
}

.footer-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 18px;
}

/* Класи портфоліо */

.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--button-filter-color);
  background: var(--button-filter-backgraund);
}

.button-filter:hover,
.button-filter:focus {
  background: #404bbf;
  color: #ffffff;
}

.title-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-card);
}

.direction-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--direction-card);
}
